/* Grey Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #757575;
  --primary-hover: #616161;
  --primary-focus: rgba(117, 117, 117, 0.125);
  --primary-inverse: #fff;
}

/* Grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #757575;
    --primary-hover: #9e9e9e;
    --primary-focus: rgba(117, 117, 117, 0.25);
    --primary-inverse: #fff;
  }
}

/* Grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #757575;
  --primary-hover: #9e9e9e;
  --primary-focus: rgba(117, 117, 117, 0.25);
  --primary-inverse: #fff;
}

/* Grey (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
}

a {
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-fluid-6);
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #e77f5a;
}

h2 {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-7);
  font-size: var(--font-size-fluid-1);
  margin-bottom: 20px;
}

p {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-5);
  font-size: var(--font-size-fluid-5);
}

article {
  margin: var(--size-8);
  padding: var(--size-6);
}
