---
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Work from "../components/Work.astro";
---

<Layout title="jdlms.dev">
  <div id="about-section">
    <Skills />
    <Work />
  </div>
</Layout>
