---
import Layout from "../layouts/Layout.astro";

const response = await fetch(Astro.url + "getBookmarks");

const bookmarks: any = await response.json();
---

<Layout title="jdlms.dev">
  <h1>bookmarks</h1>
  <p>{response}</p>
  <ul>
    {
      bookmarks.map((item: any) => (
        <li>item={item.title}</li>
      ))
    }
  </ul>
</Layout>
