---
import Links from "../components/Links.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="jdlms.dev">
  <div class="flex flex-wrap lg:justify-center mb-8">
    <Project />
  </div>
  <div class="flex flex-col items-center justify-center mt-12">
    <Links />
  </div>
</Layout>
