---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to my homepage.">
  <Nav />

  <main class="container">
    <Hero />

    <section id="about">
      <article>
        <header id="about"><a href="#">about</a></header>
        <p>
          Lorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum
          dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem, ipsum dolor.LorumLorem,
          ipsum dolor.Lorum
        </p>
      </article>
      <div class="svg"></div>
      <section class="container-fluid" id="projects">
        <article>
          <header id="projects"><a href="#">projects</a></header>
          <div class="grid">
            <article><header>Test</header><p>Test</p></article>
            <article><header>Test</header><p>Test</p></article>
          </div>
        </article>
      </section>
      <div class="svg"></div>
      <section class="container-fluid" id="learning">
        <article>
          <header id="projects"><a href="#">learning</a></header>
          <div class="grid">
            <div><p>Test</p></div>
            <div><p>Test</p></div>
            <div><p>Test</p></div>
            <div><p>Test</p></div>
            <div><p>Test</p></div>
            <div><p>Test</p></div>
          </div>
        </article>
      </section>
    </section>
    <footer>Built with Astro</footer>
  </main>
</Layout>

<style>
  #about,
  #projects {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
</style>
