---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Contact from "../components/Contact.astro";
import Extra from "../components/Extra.astro";

const KV_STORE = Astro.locals.runtime.env.KV_STORE;
const value = await KV_STORE.get("key");
console.log("VALUE", value);
---

<Layout title="jdlms.dev">
  <Intro />
  <p>VALUE: {value}</p>
  <Extra />
  <Contact />
</Layout>
