---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Intro from "../components/Intro.astro";
import Footer from "../components/Footer.astro";
import Contact from "../components/Contact.astro";
import Extra from "../components/Extra.astro";
---

<Layout title="jdlms.dev">
  <main class="container">
    <Nav />
    <Intro />
    <Extra />
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  .container {
    padding-bottom: 3%;
  }
</style>
