---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Divider from "../components/Divider.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Welcome to my homepage.">
  <Nav />

  <main class="container">
    <Hero />
    <Divider />
    <About />
    <Divider />
    <Projects />
    <Divider />

    <section class="container-fluid" id="learning">
      <article>
        <header id="projects"><a href="#">learning</a></header>
        <div class="grid">
          <div><p>Test</p></div>
          <div><p>Test</p></div>
          <div><p>Test</p></div>
          <div><p>Test</p></div>
          <div><p>Test</p></div>
          <div><p>Test</p></div>
        </div>
      </article>
    </section>
  </main>
  <footer>Built with Astro</footer>
</Layout>

<style>
  #about,
  #projects {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
</style>
