---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Contact from "../components/Contact.astro";
import Extra from "../components/Extra.astro";
---

<Layout title="jdlms.dev">
  <Intro />
  <Extra />
  <Contact />
  <button id="helloButton" type="button">Say Hello</button>

  >
</Layout>

<style>
  .container {
    padding-bottom: 3%;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", (event) => {
    const button = document.getElementById("helloButton");
    if (button) {
      button.addEventListener("click", fetchHelloWorld);
    }
  });

  async function fetchHelloWorld() {
    try {
      const response = await fetch("/helloworld");
      if (!response.ok) {
        // checks if the response status code is not okay (200-299)
        throw new Error(
          "Network response was not ok " +
            response.statusText,
        );
      }
      const data = await response.text(); // or response.json() if you're expecting a JSON response
      console.log("Response:", data); // Do something with your data
    } catch (error) {
      console.error("Error:", error);
    }
  }
</script>
