---
import "@picocss/pico/css/pico.css";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <nav>
    <ul>
      <li><strong> jdlms.dev</strong></li>
    </ul>
    <ul>
      <li><a href="#">Link</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="#" role="button">Button</a></li>
    </ul>
  </nav>
  <main class="container">
    <h1>Hi! 👋 I'm Joshua. </h1>
  </main>
</Layout>

<style></style>
