---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Contact from "../components/Contact.astro";
import Extra from "../components/Extra.astro";
import Links from "../components/Links.astro";
import { GET } from "./api/getWaves.ts";

type WaveResponse = {
  waveCount: number;
  error?: string;
};

let response = await GET(Astro);

const data: WaveResponse = await response.json();
const waveCount = data.waveCount;
---

<Layout title="jdlms.dev">
  <div class="flex flex-col justify-center items-center text-my-off-white">
    <Intro />
    <Extra />
    <Contact totalWaves={waveCount} />
    
    <div class="inline">
      <Links />
    </div>
  </div>
</Layout>
