---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import Contact from "../components/Contact.astro";
import Extra from "../components/Extra.astro";

const resp = await fetch(Astro.url + "helloworld");

const message = await resp.text();
---

<Layout title="jdlms.dev">
  <Intro />
  <Extra />
  <Contact />
  <p>{message}</p>
</Layout>

<style>
  .container {
    padding-bottom: 3%;
  }
</style>
