---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Divider from "../components/Divider.astro";
import Projects from "../components/Projects.astro";
import Learning from "../components/Learning.astro";
---

<Layout title="Welcome to my homepage.">
  <Nav />

  <main class="container">
    <Hero />
    <Divider />
    <About />
    <Divider />
    <Projects />
    <Divider />
    <Learning />
    <Divider />
  </main>
  <footer>Built with Astro</footer>
</Layout>
