---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";

const posts = await getCollection("projects");
---

<Layout title="jdlms.dev">
  {posts.map((post) => <div>{post.data.blurb}</div>)}
</Layout>

<style>
  h2 {
    margin-top: 30px;
  }

  a {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-6);
    color: #0e1e3a;
    text-decoration: none;
  }

  .project-link {
    color: #222222;
    text-decoration: none;
  }

  p {
    height: 9rem;
    color: #222222;
  }

  .project-header {
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    padding-top: 5.5vh;
    font-family: var(--font-sans);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-3);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: #dedede;
    color: #ff6b6b;
  }

  .inner-article {
    box-shadow: var(--shadow-2);
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 2rem;
    height: 18rem;
  }

  header {
    box-shadow: var(--shadow-2);
  }

  /* header:hover {
      box-shadow: var(--inner-shadow-1);
    } */

  @media only screen and (max-width: 600px) {
    .inner-article {
      box-shadow: var(--shadow-2);
      margin-bottom: 2rem;
      margin-top: 1rem;
      padding-top: 2rem;
      height: 22rem;
    }
  }
</style>
