---
import Links from "../components/Links.astro";
import Project from "../components/Project.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="jdlms.dev">
  <div
    id="project-container"
    class="flex flex-wrap items-center justify-normal"
  >
    <Project />
  </div>
  <!-- <div id="links-container">
    <Links />
  </div> -->
</Layout>

<style>
  .flex-wrap > *:only-child {
    margin-left: auto;
    margin-right: auto;
  }

  .project-container {
    @apply mb-8;
  }

  .links-container {
    @apply inline-flex flex-row justify-center mt-12;
  }
</style>
