

<footer class="inline-flex flex-row justify-center gap-6 h-0.5 mt-8 mb-4 w-75 md:block">
  <div class="flex justify-center border-t pt-1 pb-1 mt-8 md:pt-2 md:pb-2">
    <p class="font-normal text-[9px] pb-0 mb-0 text-my-orange">
      built with <span class="text-yellow-400">
        <a
          href="https://astro.build/"
          target="_blank"
          class="font-semibold no-underline h-5 w-auto font-semibold text-inherit"
        >Astro</a>
      </span>
    </p>
  </div>
</footer>
