---
import Profile from "./Profile.astro";
import Links from "./Links.astro";
import { Button } from "./Button";

const response = await fetch(Astro.url + "getWaves");

const waveCount = await response.text();
---

<div class="container">
  <div
    id="wrapper"
    class="flex flex-col md:flex-row items-center justify-center mb-2 mt-12 md:mt-16 md:mb-6"
  >
    <Profile />
    <div id="contact-links-wrapper" class="flex flex-col items-center">
      <Button data={waveCount} client:only="react" />
      <div id="links-container" class="inline">
        <Links />
      </div>
    </div>
  </div>
</div>
