---
import Profile from "./Profile.astro";
import Links from "./Links.astro";
import { Button } from "./Button";

const response = await fetch(Astro.url + "getWaves");

const waveCount = await response.text();
---

<div class="container">
  <div id="wrapper">
    <Profile />
    <div id="contact-links-wrapper">
      <Button data={waveCount} client:only />
      <div id="links-container">
        <Links />
      </div>
    </div>
  </div>
</div>

<style>
  #contact-links-wrapper {
    @apply flex flex-col items-center;
  }

  #links-container {
    @apply inline;
  }
  #wrapper {
    @apply flex flex-col md:flex-row items-center justify-center mb-2 mt-12 md:mt-16 md:mb-6;
  }
</style>
