---
import Profile from "./Profile.astro";
---

<!-- <section> -->
<div class="container">
  <div class="test">
    <div></div>
    <Profile />
    <div class="button-container">
      <a href="#" role="button" class="constrast outline">Get in touch</a>
      <a href="#" role="button" class="constrast outline">CV</a>
    </div>
    <!-- <div class="svg-container">
      <img src="separator_bottom-triangle-left.svg" alt="" />
    </div> -->
    <svg
      class="svg-snoweb svg-theme-dark"
      height="100"
      preserveaspectratio="none"
      viewbox="0 0 100 150"
      width="30%"
      x="0"
      xmlns="http://www.w3.org/2000/svg"
      y="0"
    >
      <polygon class="svg-fill-primary" points="0 0, 100 100, 0 100"> </polygon>
    </svg>
  </div>
  <div></div>
  <div></div>
</div>
<!-- </section> -->

<style>
  image {
    position: absolute;
    width: 21vw;
    height: auto;
    /* position: absolute; */
  }

  .test {
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: center;
    column-gap: 100px;
    z-index: -1;
  }
  .container {
    position: relative;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: -1;
  }

  svg {
    z-index: 2;
    margin-right: 800px;
    margin-top: 300px;
    position: absolute;
  }

  polygon {
    color: #9fc68d;
  }
</style>
