---
import Profile from "./Profile.astro";
import Links from "./Links.astro";
---

<div class="container">
  <Profile />
  <div class="button-container">
    <a href="#" role="button" class="constrast outline">Get in touch</a>
  </div>
</div>
<Links />

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
</style>
