---
import Profile from "./Profile.astro";
import Links from "./Links.astro";
---

<div class="container">
  <div id="wrapper">
    <Profile />
    <div id="contact-links-wrapper">
      <a href="mailto:lamorey.joshua@gmail.com">email me</a>
      <div id="links-container">
        <Links />
      </div>
    </div>
  </div>
</div>

<style>
  a {
    @apply bg-my-background border border-my-orange focus:outline-none focus:ring-4 focus:ring-gray-700 font-light rounded-lg text-xs md:text-sm px-5 py-2.5 mb-2 text-my-off-white;
  }
  #contact-links-wrapper {
    @apply flex flex-col items-center;
  }

  #links-container {
    @apply inline;
  }
  #wrapper {
    @apply flex flex-col md:flex-row items-center justify-center mb-2 mt-12 md:mt-16 md:mb-6;
  }
</style>
