---
import '../styles/bell-icon.css';
---

<div class="w-52 h-24 p-6 mt-10 mb-6 md:w-72 md:h-28 md:p-4 md:mt-16 md:my-10 rounded-lg border border-my-orange container flex items-center">
  <div class="md:ml-4 mr-2">
    <i class="gg-bell"></i>
  </div>
  <p class="text-my-off-white text-xs font-medium md:text-sm ml-4 font-mono">In 2024, I'm building with Go, AWS CDK, & React Native.</p>
</div>
