<footer class="footer">
  <p>
    built with <span
      ><a href="https://astro.build/" target="_blank"
        >Astro</a
      ></span
    >
  </p>
</footer>

<style>
  .footer {
    @apply flex justify-center  border-t pt-1 pb-1 mt-8 md:pt-2 md:pb-2;
  }

  p {
    font-weight: 400;
    font-size: 9px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #ff6b6b;
  }

  span {
    color: #ffd700;
  }

  a {
    font-weight: 600 !important;
    color: inherit;
    text-decoration: none;
  }
</style>
