<footer class="container">
  <div
    class="footer-wrapper flex justify-center border-t pt-1 pb-1 mt-8 md:pt-2 md:pb-2"
  >
    <p class="font-normal text-[9px] pb-0 mb-0" style="color: #ff6b6b;">
      built with <span style="color: #ffd700;"
        ><a
          href="https://astro.build/"
          target="_blank"
          class="font-semibold no-underline">Astro</a
        ></span
      >
    </p>
  </div>
</footer>
