<footer class="footer">
  <p>Built with <a href="https://astro.build/">Astro</a></p>
</footer>

<style>
  .footer {
    display: flex;
    justify-content: center;
    background-color: #38393d;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    align-content: center;
  }

  p {
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-0);
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: #bfc9d0;
  }

  a {
    font-weight: 200 !important;
    color: #ff5d01;
    text-decoration: none;
  }
</style>
