<h1>Hi! 👋 I'm Joshua.</h1>
<div class="test">
  <article class="hero">
    <p>
      I’m a web developer living in Berlin, Germany. This my website and digital garden where I post
      recent projects, track what I'm currently learning, and blog about whatever's on my mind.
    </p>

    <p class="hero-p-2">
      I recently completed a 6-month coding bootcamp at Ironhack and am actively looking for
      employment as a junior developer on a good team, while I continue learning and developing my
      skills. If you have leads, suggestions, or a project you’d like to build, please get in
      touch.🌱
    </p>
    <div class="svg-container">
      <img src="separator_bottom-triangle-right_1.svg" alt="" />
    </div>
  </article>
</div>

<style>
  h1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-2);
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-right) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.2s;
  }

  img {
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-left) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.4s;

    z-index: 1;
    position: absolute;
    width: 20vw;
    height: auto;
  }



  .svg {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f5c676;
  }

  .svg-container {
    margin-left: 76.5%;
    margin-bottom: 9%;
  }

  p {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-fluid-5);
  }

  article {
    margin-bottom: 0;
    margin: var(--size-8);
    padding: var(--size-6);
  }

  .hero {
    position: relative;
  }
 
</style>
