---
import { Container } from "./desk/Container.jsx";
---

<Container client:load />

<span class="h1-wrapper">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>
  <h1>
    Hi<span class="ex">!</span>
  </h1>
  <img class="wave" src="hand-wave.svg" alt="hand wave" />
  <h1>
    <span></span>I'm Joshua<span class="ex">.</span>
  </h1>
</span>

<i class="fa-thin fa-hand-wave" style="color: #0e1e3a;"></i>
<article class="hero container-fluid">
  <p class="hero-p-1">
    I’m a web developer with a passion for creative
    problem-solving and programming. I live in Berlin,
    Germany and this my small digital garden, where I post
    recent projects, track what I've been learning, and blog
    about life and code. 🌱
  </p>

  <p class="hero-p-2">
    Here's a small list of some things I'm enthusiastic
    about: ◦ Typescript ◦ Manipulating web APIs ◦ Building
    smart with modular and readable project architecture ◦
    Intuitive and accessible UI/UX ◦ Experimenting with
    frameworks like as React, Angular, Svelte, and Astro ◦
    User privacy ◦ Growing my CI/CD knowledge ◦ AWS ◦
    Learning new languages such as Go and Python.
  </p>
  <div class="svg-container">
    <img
      class="triangle"
      src="separator_bottom-triangle-right_1.svg"
      alt=""
    />
  </div>
</article>

<style>
  h1 {
    font-family: var(--font-sans);
    font-size: var(--font-size-7);
    color: #ff6b6b;
    margin-bottom: 0px;
    display: inline;
  }

  span {
    color: #0e1e3a;
  }

  .h1-wrapper {
    display: flex;
    justify-content: left;
  }

  .ex {
    color: #ffd700;
  }

  .wave {
    width: 200px;
    height: 200px;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    margin-top: -2.6rem;
    display: inline-block;
    vertical-align: middle;
  }

  .hero-p-1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-5);
    line-height: var(--font-lineheight-3);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-p-2 {
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-5);
    line-height: var(--font-lineheight-3);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .triangle {
    width: 30vw;
    height: auto;
    position: relative;
    top: 75px;
    left: 33px;
  }

  @media screen and (min-width: 1196px) {
    .triangle {
      width: 30vw;
      height: auto;
      position: relative;
      top: 80px;
      left: 33px;
    }
  }

  .svg-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .hero {
    margin-top: 0px;
  }

  @media screen and (max-width: 1200px) {
    .wave {
      width: 150px;
      height: 150px;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-top: -1.5rem;
      display: inline-block;
      vertical-align: middle;
    }

    h1 {
      font-size: var(--font-size-7);
    }
  }

  @media screen and (max-width: 767px) {
    .wave {
      width: 120px;
      height: 120px;
      margin-left: -1.5rem;
      margin-right: -1.5rem;
      margin-top: -1.5rem;
      display: inline-block;
      vertical-align: middle;
    }

    h1 {
      font-family: var(--font-sans);
      font-size: var(--font-size-6);
      color: #ff6b6b;
      margin-bottom: 0px;
      display: inline;
    }
  }

  @media screen and (max-width: 600px) {
    .wave {
      width: 90px;
      height: 90px;
      display: inline-block;
      vertical-align: middle;
      margin-left: -0.9rem;
      margin-right: -0.9rem;
      margin-top: -1rem;
    }
    h1 {
      font-size: var(--font-size-5);
    }

    .triangle {
      width: 55vw;
      height: auto;
      position: relative;
      top: 40px;
      left: 26px;
    }
  }

  @media screen and (max-width: 330px) {
    .wave {
      width: 70px;
      height: 70px;
      display: inline-block;
      vertical-align: middle;
      margin-left: -0.9rem;
      margin-right: -0.9rem;
      margin-top: -1.2rem;
    }
    h1 {
      font-size: var(--font-size-3);
    }

    .triangle {
      width: 55vw;
      height: auto;
      position: relative;
      top: 40px;
      left: 26px;
    }
  }
</style>
<!-- 
@media screen { @media (min-width: 0px) {} } -->
