<h1>Hi! 👋🏼 I'm Joshua.</h1>

<article class="hero">
  <p class="hero-p-1">
    I’m a developer who's enthusiastic about JavaScript, building for the web, and tackling new
    challenges. I live in Berlin, Germany and this my small digital garden, where I post recent
    projects, track what I've been learning, and blog about life and code. 🌱
  </p>

  <p class="hero-p-2">
    I recently completed a 6-month webdev bootcamp at Ironhack and am actively looking for a junior
    role on a good team as I continue learning and developing my skills. I find it deeply satisfying
    to encounter and solve problems, while building for the web and learning new technologies and
    techniques. If you've any suggestions, leads, or projects you’d like to build, don't hesitate to
    get in touch.
  </p>
  <div class="svg-container">
    <img src="separator_bottom-triangle-right_1.svg" alt="" />
  </div>
</article>

<style>
  h1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-2);
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-right) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.2s;
    color: #c0cad1;
    margin-bottom: 0px;
  }

  .hero-p-1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-fluid-5);
    line-height: var(--font-lineheight-3);
  }

  .hero-p.2 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-4);
    font-size: var(--font-size-fluid-5);
    line-height: var(--font-lineheight-3);
  }

  img {
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-left) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.4s;
    z-index: 1;
    position: absolute;
    width: 22vw;
    height: auto;
  }

  .svg-container {
    margin-left: 76.5%;
    margin-bottom: 9%;
  }

  .hero {
    margin-top: 5vh;
    position: relative;
  }
</style>
