<h1>Hi! 👋🏼 I'm Joshua.</h1>

<article class="hero container-fluid">
  <p class="hero-p-1">
    I’m a JavaScript developer enthusiastic about building for the web and taking on new challenges.
    I live in Berlin, Germany and this my small digital garden, where I post recent projects, track
    what I've been learning, and blog about life and code. 🌱
  </p>

  <p class="hero-p-2">
    I find it deeply satisfying to encounter and solve problems, while learning new technologies and
    techniques. I recently completed a 6-month bootcamp(Ironhack) and am actively looking for a
    junior position on a good team, as I continue learning and developing my skills. If you've any
    suggestions, leads, or projects you’d like to build, don't hesitate to get in touch.
  </p>
  <div class="svg-container">
    <img src="separator_bottom-triangle-right_1.svg" alt="" />
  </div>
</article>

<style>
  h1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-2);
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-right) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.2s;
    color: #c0cad1;
    margin-bottom: 0px;
  }

  .hero-p-1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-5);
    line-height: var(--font-lineheight-3);
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .hero-p-2 {
    font-family: var(--font-sans);
    font-size: var(--font-size-fluid-5);
    line-height: var(--font-lineheight-3);
    padding-left: 1rem;
    padding-right: 1rem;
  }
  img {
    /* animation: var(--animation-fade-in) forwards, var(--animation-slide-in-left) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.4s; */
    width: 30vw;
    height: auto;
    position: relative;
    top: 75px;
    left: 33px;
  }

  .svg-container {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .hero {
    /* position: relative; */
  }

  @media only screen and (max-width: 600px) {
    h1 {
      font-size: var(--font-size-fluid-3);
    }

    img {
      width: 55vw;
      height: auto;
      position: relative;
      top: 68px;
      left: 33px;
    }
  }
</style>
