---
import { Container } from "./desk/Container.jsx";
---

<div id="hero">
  <p id="intro">
    <span>Hi, I'm Joshua!</span> I’m a web developer with a
    passion for creative problem-solving and programming. I
    live in Berlin, Germany and this my small digital
    garden, where I post recent projects, track what I've
    been learning, and blog about life and code. 🌱
  </p>
  <br />
  <p>
    Here's a small list of some things I'm enthusiastic
    about: ◦ Typescript ◦ Manipulating web APIs ◦ Building
    smart with modular and readable project architecture ◦
    Intuitive and accessible UI/UX ◦ Experimenting with
    frameworks like as React, Angular, Svelte, and Astro ◦
    User privacy ◦ Growing my CI/CD knowledge ◦ AWS ◦
    Learning new languages such as Go and Python.
  </p>
</div>
<!-- color: #ff6b6b;
color: #0e1e3a;
color: #ffd700; -->

<style>
  p {
    @apply text-my-off-white text-2xl;
  }
  span {
    @apply font-medium;
  }

  #intro {
    @apply text-3xl;
  }
  #hero {
    @apply mt-[1px] pt-10 border-t border-solid border-my-orange;
  }
</style>
