<h1>Hi! 👋 I'm Joshua.</h1>
<article class="hero">
  <p>
    I’m a web developer living in Berlin, Germany. This my website and digital garden where I post
    recent projects, track what I'm currently learning, and blog about whatever's on my mind.
  </p>

  <p>
    I recently completed a 6-month coding bootcamp at Ironhack and am actively looking for
    employment as a junior developer on a good team, while I continue learning and developing my
    skills. If you have leads, suggestions, or a project you’d like to build, please get in touch.🌱
  </p>
</article>
<div class="svg">
  <img src="separator_bottom-triangle-right_1.svg" alt="" />
</div>

<style>
    
  h1 {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-2);
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-right) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.2s;
  }

  img {
    animation: var(--animation-fade-in) forwards, var(--animation-slide-in-left) forwards;
    animation-timing-function: var(--ease-squish-4);
    animation-duration: 1.4s;
  }

  .svg {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-bottom: 5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #f5c676;
  }

  p {
    font-family: var(--font-sans);
    font-weight: var(--font-weight-5);
    font-size: var(--font-size-fluid-5);
  }

  .hero {
    margin-bottom: 0;
  }

  article {
    margin: var(--size-8);
    padding: var(--size-6);
  }
  /* 
  .intro-graph {
    padding-block: var(--size-4);
  } */
</style>
