<div>
  <div id="break"></div>
  <p id="intro">
    <span>Hi, I'm Joshua.</span> I’m a web developer based
    in Berlin, Germany who values rapid iteration,
    optimization, creative problem-solving, and loves
    writing code. This my small digital garden, where I post
    recent projects, track what I've been learning, and blog
    about life and code. 🌱
  </p>
  <br />
  <p>
    Here are some things I'm enthusiastic about: building
    smart with modular project architecture ◦ reading the
    docs ◦ using the platform ◦ avoiding dependency bloat ◦
    frontends in Typescript (React, Angular, Astro, etc.) ◦
    APIs in Typescript or Go ◦ leveraging the cloud (AWS,
    Cloudflare) ◦ all things Linux ◦ intuitive UI/UX ◦
    performance metrics
  </p>
</div>

<style>
  p {
    @apply text-my-off-white text-xl;
  }

  span {
    @apply font-medium text-3xl;
  }

  #break {
    @apply h-[1px] bg-my-accent  w-4/5 mx-auto rounded mb-8 mt-3;
  }

  #intro {
    @apply text-2xl mt-16;
  }
</style>
