---
const { env } = Astro.locals.runtime;
const myKV = env.jdlmsDotDev;

console.log("Accessing KV:", myKV);

let value;
try {
  value = await myKV.get("totalWaves");
  console.log("KV Value:", value);
} catch (err) {
  console.error("KV Fetch Error:", err);
}
---

<div class="md:container md:max-w-3xl">
  <p
    id="first"
    class="text-my-off-white text-xl md:text-2xl leading-relaxed text-left break-words"
  >
    <span class="font-semibold text-xl md:text-2xl">Hi, I'm Joshua.</span> I'm a
    web developer in Germany who values rapid iteration, simplicity, creative problem-solving,
    and loves writing code. This my small digital garden, where I post recent projects,
    keep bookmarks of what I've been reading, and blog irregularly. 🌱
  </p>
  <br />
  <p class="text-my-off-white md:text-xl leading-relaxed text-left break-words">
    Here's a small list of things I'm enthusiastic about: building smart with
    modular project architecture, using the platform, avoiding dependency bloat,
    frontends with Typescript, APIs in Typescript or Go, leveraging the cloud
    (AWS, Cloudflare), intuitive and simple UI/UX, CI/CD. When it comes to web
    technology, I'm omnivorous; as comfortable setting styles as configuring
    servers. I currently work at <span
      class="text-base tracking-tighter font-semibold">@Statista</span
    >. Value: {value}
  </p>
</div>
