<div id="wrapper">
  <p id="first">
    <span>Hi, I'm Joshua.</span> I'm a web developer in Berlin who values rapid iteration,
    simplicity, creative problem-solving, and loves writing code. This my small digital
    garden, where I post recent projects, keep bookmarks of what I've been reading,
    and blog irregularly. 🌱
  </p>
  <br />
  <p>
    Here's a small list of things I'm enthusiastic about: building smart with
    modular project architecture, using the platform, avoiding dependency bloat,
    frontends with Typescript (React, Astro), APIs in Typescript or Go,
    leveraging the cloud (AWS, Cloudflare), intuitive and simple UI/UX, CI/CD.
    When it comes to web technology, I'm omnivorous; as comfortable setting
    styles as configuring servers. I currently work on special projects and
    internal tools <span class="underline">@Statista Q</span>.
  </p>
</div>

<style>
  p {
    @apply text-my-off-white md:text-xl leading-relaxed text-left break-words;
  }

  span {
    @apply font-semibold text-xl md:text-2xl;
  }

  #wrapper {
    @apply md:container md:max-w-3xl;
  }
  #first {
    @apply text-xl md:text-2xl;
  }

  .underline {
    @apply text-base tracking-tighter font-semibold font-mono;
  }
</style>
