<div class="md:container md:max-w-3xl">
  <p
    id="first"
    class="text-my-off-white text-xl md:text-2xl leading-relaxed text-left break-words"
  >
    <span class="font-semibold text-xl md:text-2xl">Hi, I'm Joshua,</span> a web
    developer in Germany who values rapid iteration, creativity, and solving problems
    with code. This my small digital garden, where I bookmark what I've been reading,
    collect my projects, and (eventually) blog. 🌱
  </p>
  <br />
  <p class="text-my-off-white md:text-xl leading-relaxed text-left break-words">
    Here are some things I'm enthusiastic about: leveraging the cloud, modular
    systems architecture, using the platform, balancing tradeoffs, Typescript,
    Go, infrastructure, intuitive and simple UI/UX. When it comes to web
    technology, I'm omnivorous; as comfortable setting styles as configuring
    servers and always learning. I currently work at <span
      class="text-base tracking-tighter font-semibold">@Statista</span
    >.
  </p>
</div>
