<div id="wrapper">
  <p id="first">
    <span>Hi. I'm Joshua,</span> a web developer based in Berlin
    who values rapid iteration, simplicity, creative problem-solving,
    and loves writing code. This my small digital garden, where
    I post recent projects, track what I've been learning, and
    blog irregularly. 🌱
  </p>
  <br />
  <p>
    Here's a small list of things I'm enthusiastic about:
    building smart with modular project architecture,
    reading the docs, using the platform, avoiding
    dependency bloat, frontends in Typescript (React,
    Angular, Astro, etc.), APIs in Typescript or Go,
    leveraging the cloud (AWS, Cloudflare), all things
    Linux, intuitive and simple UI/UX, & performance
    metrics.
  </p>
</div>

<style>
  p {
    @apply text-my-off-white md:text-xl leading-relaxed text-left break-words;
  }

  span {
    @apply font-semibold text-xl md:text-3xl;
  }

  #wrapper {
    @apply md:container md:max-w-3xl;
  }
  #first {
    @apply text-xl md:text-2xl;
  }
</style>
