<div class="md:container mt-8 md:mt-4 md:max-w-3xl">
  <p id="first" class="text-my-off-white md:text-xl  text-left ">Hi, I'm a developer with a passion for cloud-engineering, infrastructure, and automation. I value creativity, iteration, and failling fast to learn more than I knew before. This my small site, where I bookmark what I've been reading,
    collect my projects, and blog. <span class="text-sm pl-2">🌱</span>
  </p>
  <br />
  <p class="text-my-off-white md:text-xl text-left">
    Some things I'm enthusiastic about are: leveraging the cloud, modular systems architecture, using the platform, balancing tradeoffs, limiting dependencies, Go, Typescript, CI/CD, and reducing cognitive load whenever possible. When it comes to web
    technology, I stay omnivorous and hungry.
  </p>
</div>
