<section class="container-fluid" id="learning">
  <h2><a href="#">learning</a></h2>
  <article>
    <div class="grid">
      <div class="chip">Test</div>
      <div class="chip">Test</div>
      <div class="chip">Test</div>
      <div class="chip">Test</div>
    </div>
  </article>
  <article>
    <div class="grid">
      <div class="chip">Test</div>
      <div class="chip">Test</div>
      <div class="chip">Test</div>
      <div class="chip">Test</div>
    </div>
  </article>
</section>

<style>
  .chip {
    height: 52px;
    background-color: #38393d;
    display: inline-block;
    background: $md-chip-color;
    padding: 0 12px;
    border-radius: 32px;
    font-size: 13px;
    display: grid; /* new */
    align-items: center; /* new */
    justify-items: center;
  }

  a {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
    color: #f5c676;
  }

  article {
    margin: var(--size-5);
    padding: var(--size-6);
  }
</style>
