<div class="container">
  <div>
    <a
      href="https://drive.google.com/file/d/1Q7sd0yb8ZkpynmPOAsbvwaCgrMg2B6Mg/view?usp=sharing"
    >
      <img src="public/cv-icon.svg" alt="CV icon" />
    </a>
  </div>
  <div>
    <a href="https://github.com/jdlms">
      <img src="public/github-icon.svg" alt="Github icon" />
    </a>
  </div>
  <div>
    <a href="https://mobile.twitter.com/jdlms_">
      <img
        src="public/brand-twitter-basic.svg"
        alt="Twitter icon"
      />
    </a>
  </div>
  <div>
    <a
      href="https://www.linkedin.com/in/joshua-l-215686198/"
    >
      <img
        src="public/linkedin-icon.svg"
        alt="Linkedin icon"
      />
    </a>
  </div>
</div>

<style>
  .container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    height: 0.5rem;
    margin-top: 2.5rem;
    width: 300px;
  }

  div {
    display: inline;
  }

  img {
    height: 1.3rem;
    width: auto;
  }

  @media (max-width: 767px) {
    img {
      height: 20px;
      width: auto;
    }

    .container {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      gap: 1.5rem;
      height: 0.2rem;
      margin-top: 2rem;
      margin-bottom: 1rem;
      width: 300px;
    }
  }
</style>
