---
import { Icon } from "astro-icon/components";
---

<div class="inline-flex flex-row justify-center gap-6 h-2 mt-10 w-[300px]">
  <div>
    <a
      href="https://drive.google.com/file/d/1Q7sd0yb8ZkpynmPOAsbvwaCgrMg2B6Mg/view?usp=sharing"
    >
      <Icon name="cv" />
    </a>
  </div>
  <div>
    <a href="https://github.com/jdlms">
      <Icon name="github" />
    </a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/joshua-l-215686198/">
      <Icon name="linkedin" />
    </a>
  </div>
  <div>
    <a href="https://bsky.app/profile/jdlms.bsky.social">
      <Icon name="bluesky" />
    </a>
  </div>
</div>
