<div class="container">
  <div>
    <a href="https://drive.google.com/file/d/1Q7sd0yb8ZkpynmPOAsbvwaCgrMg2B6Mg/view?usp=sharing">
      <img src="cv-icon.svg" alt="CV icon" />
    </a>
  </div>
  <div>
    <a href="https://github.com/jdlms">
      <img src="github-icon.svg" alt="Github icon" />
    </a>
  </div>
  <div>
    <a href="https://mobile.twitter.com/jdlms_">
      <img src="brand-twitter-basic.svg" alt="Twitter icon" />
    </a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/joshua-l-215686198/">
      <img src="linkedin-icon.svg" alt="Linkedin icon" />
    </a>
  </div>
</div>

<style>
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    height: 2rem;
    margin-top: 2.5rem;
  }

  div {
    display: inline;
  }

  img {
    height: 1.7rem;
    width: auto;
  }
</style>
