<div class="inline-flex flex-row justify-center gap-6 h-2 mt-10 w-[300px]">
  <div>
    <a
      href="https://drive.google.com/file/d/1Q7sd0yb8ZkpynmPOAsbvwaCgrMg2B6Mg/view?usp=sharing"
    >
      <img src="cv-icon.svg" alt="CV icon" class="h-[1.3rem] w-auto md:h-5" />
    </a>
  </div>
  <div>
    <a href="https://github.com/jdlms">
      <img
        src="github-icon.svg"
        alt="Github icon"
        class="h-[1.3rem] w-auto md:h-5"
      />
    </a>
  </div>
  <div>
    <a href="https://mobile.twitter.com/jdlms_">
      <img
        src="brand-twitter-basic.svg"
        alt="Twitter icon"
        class="h-[1.3rem] w-auto md:h-5"
      />
    </a>
  </div>
  <div>
    <a href="https://www.linkedin.com/in/joshua-l-215686198/">
      <img
        src="linkedin-icon.svg"
        alt="Linkedin icon"
        class="h-[1.3rem] w-auto md:h-5"
      />
    </a>
  </div>
</div>
