---
import { Container } from "./desk/Container";
---

<nav>
  <ul>
    <li class="hidden sm:block">
      <a id="title" href="/">joshua lamorey-salzmann</a>
    </li>
    <li class="block sm:hidden">
      <a id="title" href="/">jdlms</a>
    </li>

    <li class="link two" id="about">
      <a href="/about">about</a>
    </li>
    <li class="link one">
      <a href="/projects">projects</a>
    </li>
    <li class="link two"><a href="/blog">blog</a></li>
  </ul>
</nav>

<style>
  ul {
    @apply flex pb-5 pt-7 md:pt-10;
  }

  a {
    @apply text-sm md:text-xl;
  }

  a {
    font-family: var(--font-sans);
  }

  #about {
    @apply ml-auto;
  }

  #title {
    @apply px-3 md:text-lg text-my-gray font-medium border-2 rounded border-my-accent p-4;
  }

  .link {
    @apply px-2 md:text-xl;
  }

  .two {
    @apply text-my-gray;
  }
  .one {
    color: #ff6b6b;
    font-weight: var(--font-weight-7);
    text-decoration: underline;
    text-decoration-color: #ffd700;
    text-decoration-thickness: 2px;
  }

  .two {
    font-weight: var(--font-weight-7);
    text-decoration: underline;
    text-decoration-color: #ffd700;
    text-decoration-thickness: 2px;
  }

  .two .one:hover,
  .two:hover {
    color: #ffd700;
    text-decoration: underline;
    text-decoration-color: #ff6b6b;
    text-decoration-thickness: 2px;
  }
</style>
