<nav class="container">
  <ul></ul>
  <ul>
    <li><a class="header-links-one" href="/#projects">projects</a></li>
    <li><a class="header-links-two" href="/#about">about</a></li>
    <li><a class="header-links-one" href="/#skills">skills</a></li>
    <li><a class="header-links-two" href="/blog">blog</a></li>
  </ul>
</nav>

<style>
  .header-links-one {
    color: #ff6b6b;
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-6);
    text-decoration: underline;
    text-decoration-color: #ffd700;
    text-decoration-thickness: 2px;
  }

  .header-links-two {
    color: #0e1e3a;
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-6);
    text-decoration: underline;
    text-decoration-color: #ffd700;
    text-decoration-thickness: 2px;
  }
  .header-links-one:hover,
  .header-links-two:hover {
    color: #ffd700;
    text-decoration: underline;
    text-decoration-color: #ff6b6b;
    text-decoration-thickness: 2px;
  }
</style>
