<nav class="container">
  <ul></ul>
  <ul>
    <li><a class="header-links-one" href="#about">about</a></li>
    <li><a class="header-links-two" href="#projects">projects</a></li>
    <li><a class="header-links-one" href="#learning">learning</a></li>
    <li><a class="header-links-two" href="#blog">blog</a></li>
  </ul>
</nav>

<style>
  .header-links-one {
    color: #9fc68d;
  }

  .header-links-two {
    color: #9ebce0;
  }
  .header-links-one:hover,
  .header-links-two:hover {
    color: #e77f5a;
  }
</style>
