<nav class="container">
  <ul></ul>
  <ul>
    <li><a href="#about">about</a></li>
    <li><a href="#projects">projects</a></li>
    <li><a href="#learning">learning</a></li>
    <li><a href="#blog">blog</a></li>
  </ul>
</nav>

<style>
  a {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
</style>
