<nav class="container">
  <ul></ul>
  <ul>
    <li><a class="header-links-one" href="/#work">work</a></li>
    <li><a class="header-links-two" href="/#about">about</a></li>
    <li><a class="header-links-one" href="/#skills">skills</a></li>
    <li><a class="header-links-two" href="/blog">blog</a></li>
  </ul>
</nav>

<style>
  .header-links-one {
    color: #c569bc;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }

  .header-links-two {
    color: #ff8b5b;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
  .header-links-one:hover,
  .header-links-two:hover {
    color: #dd4462;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
</style>
