<nav class="container">
  <ul></ul>
  <ul>
    <li><a class="header-links-one" href="#projects">projects</a></li>
    <li><a class="header-links-two" href="#about">about</a></li>
    <li><a class="header-links-one" href="#learning">learning</a></li>
    <li><a class="header-links-two" href="#blog">blog</a></li>
  </ul>
</nav>

<style>
  .header-links-one {
    color: #9fc68d;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }

  .header-links-two {
    color: #9ebce0;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
  .header-links-one:hover,
  .header-links-two:hover {
    color: #f5c676;
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
  }
</style>
