<div class="image"></div>

<style>
  .image {
    display: inline-block;
    float: left;
    height: 12rem;
    width: 12rem;
    margin-right: 15px;
    border-radius: var(--radius-blob-1);
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: -3;
  }
</style>
