<div class="image"></div>

<style>
  .image {
    @apply inline-block mb-10 md:mb-1 h-36 w-36 md:h-48 md:w-48 md:mr-4;
  }

  .image {
    border-radius: var(--radius-blob-1);
    background-image: url("../images/profile.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
