<div class="image"></div>

<style>
  .image {
    display: inline-block;
    height: 12rem;
    width: 12rem;
    margin-right: 3rem;
    border-radius: var(--radius-blob-1);
    background-image: url("../images/profile.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 600px) {
    .image {
      display: inline-block;
      height: 11rem;
      width: 13rem;
      margin-right: 3rem;
      border-radius: var(--radius-blob-1);
      background-image: url("../images/profile.jpg");
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
</style>
