<section class="container-fluid" id="projects">
  <h2><a href="#">projects</a></h2>
  <article>
    <div class="grid">
      <article>
        <header class="test">Scout DB</header><p>
          An internal tool for book scouts, built for gathering info and reporting it out to
          clients. Built with React, Express, Mongoose, MUI, React Router, React Query,
          react-hook-forms, and Yup.
        </p>
      </article>
      <article>
        <header>Kinomania</header><p>
          Discover movies, track films, create lists. Inspired by Letterboxed. Built with Express,
          Mongoose, Handlebars and Passport.js.
        </p>
      </article>
    </div>
    <div class="grid">
      <article>
        <header>Jungle Commander</header><p>
          Splat the fruit! A browser arcade-style tank game built with p5.js.
        </p>
      </article>
      <div></div>
    </div>
  </article>
</section>

<style>
  .test {
    margin-bottom: 1px;
    padding-bottom: 1px;
  }
</style>
