---
import { getCollection } from "astro:content";

type Post = {
  id: string;
  slug: string;
  body: string;
  collection: string;
  data: {
    id: number;
    title: string;
    tags: string[];
    link: string;
    blurb: string;
  };
};

const posts: Post[] = await getCollection("projects");
const sortedPosts = posts.sort((a, b) => b.data.id - a.data.id);
---

{
  sortedPosts.map((post) => (
    <>
      <article class="bg-my-off-white rounded-lg inline-block w-full m-3 pl-2 pr-1 pb-1 md:pl-5 md:pt-2 md:pr-5 md:pb-2 md:w-auto">
        <a href={post.data.link} target="_blank">
          <ul>
            <li>
              <ul class="flex mt-2 mb-3 flex-row">
                <div class="space-x-1 md:space-x-2">
                  {post.data.tags.map((tag) => (
                    <li
                      class="chip border border-my-yellow rounded-lg p-1 inline-block text-my-accent text-xs md:text-sm"
                      style="font-family: var(--font-sans);"
                    >
                      {tag}
                    </li>
                  ))}
                </div>
                <i class="gg-arrow-top-right-o text-my-orange ml-auto" />
              </ul>
              <h3
                class="text-my-orange md:text-xl font-bold md:pt-1 md:pb-1 md:pr-1"
                style="font-family: var(--font-sans);"
              >
                {post.data.title}
              </h3>
            </li>
          </ul>
        </a>
        <p class="text-xs mt-2 mb-2 text-my-accent">{post.data.blurb}</p>
      </article>
    </>
  ))
}
