<section class="container-fluid" id="projects">
  <h2><a href="#">projects</a></h2>
  <article class="outer-article">
    <div class="grid">
      <a
        class="project-link"
        href="https://fantastic-pithivier-6edba6.netlify.app/"
        target="_blank"
      >
        <article class="inner-article">
          <header class="project-header">Scout DB</header>

          <p>
            An internal tool for gathering, tracking and reporting information. For book scouts and
            their clients. Built with React, Express, Mongoose, MUI, React Router, React Query,
            react-hook-forms, and Yup.
          </p>
        </article>
      </a>
      <a class="project-link" href="https://confused-bikini-pike.cyclic.app/" target="_blank">
        <article class="inner-article">
          <header class="project-header">Kinomania</header><p>
            Discover movies, track films, create lists. Inspired by Letterboxed. Built with Express,
            Mongoose, Handlebars and Passport.js.
          </p>
        </article>
      </a>
    </div>
    <div class="grid">
      <a class="project-link" href="https://jdlms.github.io/jungle-commander/" target="_blank">
        <article class="inner-article">
          <header class="project-header">Jungle Commander</header><p>
            Splat the fruit! A browser arcade-style tank game built with p5.js.
          </p>
        </article>
      </a>
      <div></div>
    </div>
  </article>
</section>

<style>
  a {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
    color: #f5c676;
    text-decoration: none;
  }

  .project-link {
    color: #bbc6ce;
    text-decoration: none;
  }

  p {
    height: 8rem;
    color: #bbc6ce;
  }

  .project-header {
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    padding-top: 5.5vh;
    font-family: var(--font-sans);
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-5);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .inner-article {
    box-shadow: var(--shadow-2);
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 2rem;
  }

  header {
    box-shadow: var(--shadow-3);
  }

  header:hover {
    box-shadow: var(--inner-shadow-1);
  }
</style>
