---

---

<div
  class="prose text-my-off-white text-sm md:text-base
  prose-h1:font-bold prose-h1:text-xl prose-h2:text-my-white prose-h3:text-my-white
  prose-a:text-my-orange prose-p:text-justify prose-img:rounded-xl
  prose-h2:underline"
>
  <slot />
</div>
