<article class="skills-container">
  <h2>skills</h2>
   

  <!-- <div class="chip-container">
      <div class="chip">Postgres</div>
      <div class="chip">AWS</div>
      <div class="chip">Testing</div>
      <div class="chip learnings">Typescript</div>
      <div class="chip learnings">JavaScript</div>
      <div class="chip learnings">React</div>
      <div class="chip learnings">CSS</div>
      <div class="chip learnings">HTML</div>
      <div class="chip learnings">Node.js</div>
      <div class="chip learnings">Express</div>
      <div class="chip learnings">Linux</div>
      <div class="chip learnings">Git</div>
      <div class="chip learnings">Mongo db</div>
      <div class="chip learnings">Mongoose</div> -->
</article>

<style></style>
