---
import Extra from "./Extra.astro";
---

<article>
  <p id="first-graph">
    <span id="bold">I value</span> creativity, simplicity, and
    readability. When it comes to web technology, I am omnivorous;
    striving to be as comfortable setting styles as configuring
    servers. I currently work on special projects and internal
    tools <span class="underline">@Statista Q</span>
  </p>
  <br />
  <p class="graph">
    In 2022, I followed my love of coding and building for
    the web into a 6-month bootcamp @<span class="underline"
      >Ironhack Berlin</span
    > where I learned to take on problems like a software engineer:
    by breaking them into smaller parts and continuously learning.
  </p>
  <br />
  <p class="graph">
    In Berlin I have worked at a motorcyle navigation app, a
    digital music startup, in a tax office, and as a
    translator and copywriter. In a previous life, I had a
    career in book publishing.
  </p>
</article>
<Extra />

<style>
  article {
    @apply md:container md:max-w-3xl;
  }
  p {
    @apply text-my-off-white md:text-xl text-left leading-relaxed  break-words;
  }

  .underline {
    @apply text-base tracking-tighter font-semibold font-mono;
  }

  #bold {
    @apply font-medium text-xl md:text-2xl;
  }
</style>
