<section class="container-fluid" id="skills">
  <h2><a href="#">skills</a></h2>
  <article>
    <div class="chip-container">
      <div class="chip">Postgres</div>
      <div class="chip">AWS</div>
      <div class="chip">Testing</div>
    </div>
    <hr />
    <div class="chip-container">
      <div class="chip learnings">React</div>
      <div class="chip learnings">JavaScript</div>
      <div class="chip learnings">CSS</div>
      <div class="chip learnings">Node.js</div>
      <div class="chip learnings">Linux</div>
      <div class="chip learnings">Mongo DB</div>
      <div class="chip learnings">REST</div>
      <div class="chip learnings">Express</div>
      <div class="chip learnings">HTML</div>
      <div class="chip learnings">Git</div>
      <div class="chip learnings">Mongoose</div>
    </div>
  </article>
</section>

<style>
  .chip-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }
  .chip {
    height: 32px;
    width: 100px;
    background-color: #e77f5a;
    color: #24262f;
    display: inline-block;
    padding: 0 12px;
    border-radius: 32px;
    display: grid;
    align-items: center;
    justify-items: center;
    font-family: var(--font-sans);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-4);
    letter-spacing: var(--font-letterspacing-1);
    transition: all 1.6s ease;
  }

  hr {
    width: 15rem;
    border: 0.1px solid #38393d;
  }

  .learnings {
    background-color: #9fc68d;
  }

  .learnings:hover {
    animation: var(--animation-pulse);
    animation-iteration-count: 5;
  }
  a {
    font-weight: var(--font-weight-6);
    font-size: var(--font-size-fluid-6);
    color: #f5c676;
    text-decoration: none;
  }

  article {
    display: flex;
    flex-direction: column;
    column-gap: 20px;
    row-gap: 20px;
    padding-bottom: 2rem;
  }
</style>
