<article>
  <p id="first-graph">
    <span id="bold">I currently work</span> on special projects
    and internal tools @<span class="underline"
      >Statista Q</span
    >. I value creativity, efficiency, and simplicity. When
    it comes to web technology, I am omnivorous; striving to
    be as comfortable setting styles as configuring servers.
  </p>
  <br />
  <p class="graph">
    In 2022, I followed my love of coding and building for
    the web into a 6-month bootcamp @<span class="underline"
      >Ironhack Berlin</span
    > where I learned to take on problems like a software engineer:
    by breaking them into small parts, reading the docs, and
    continuously learning.
  </p>
  <br />
  <p class="graph">
    While in Berlin I have worked at a motorcyle navigation
    app startup, a digital music distributor, a tax office,
    and as a translator and copy-writer. In a previous life,
    I had a career in New York City book publishing.
  </p>
</article>

<style>
  article {
    @apply md:container md:max-w-3xl;
  }
  p {
    @apply text-my-off-white md:text-xl text-left leading-relaxed  break-words;
  }

  #underline {
    @apply underline;
  }

  #bold {
    @apply text-xl md:text-2xl;
  }
</style>
