<section class="container-fluid" id="projects">
  <h2><a href="#">projects</a></h2>
  <article class="outer-article">
    <div class="grid">
      <a class="project-link" href="https://guess-that-dog.vercel.app/">
        <article class="inner-article">
          <header class="project-header">Guess that dog</header>
          <p>
            Guess by photo and by name. Correct guesses add to your collection. Project to practice
            Typescript in React, Next.js, custom hooks and localStorage. Built with the Dog API.
            Woof! 🐶
          </p>
        </article>
      </a>

      <a class="project-link" href="https://github.com/jdlms/scout-db/">
        <article class="inner-article">
          <header class="project-header">Scout DB</header>
          <p>
            An internal tool for book scouts, built for gathering info and reporting to clients.
            React, Express, Mongoose, MUI, React Router, React Query, and react-hook-forms.
          </p>
        </article>
      </a>
    </div>
    <div class="grid">
      <a class="project-link" href="https://github.com/jdlms/Kinomaniac">
        <article class="inner-article">
          <header class="project-header">Kinomania</header><p>
            Discover movies, track films, create lists. Inspired by Letterboxed. Built with Express,
            Mongoose, Handlebars and Passport.js.
          </p>
        </article>
      </a>
      <a class="project-link" href="https://github.com/jdlms/jungle-commander">
        <article class="inner-article">
          <header class="project-header">Jungle Commander</header><p>
            Splat the fruit! A browser arcade-style tank game built with p5.js.
          </p>
        </article>
      </a>
    </div>
  </article>
</section>

<style>
  a {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-fluid-6);
    color: #0e1e3a;
    text-decoration: none;
  }

  .project-link {
    color: #222222;
    text-decoration: none;
  }

  p {
    height: 9rem;
    color: #222222;
  }

  .project-header {
    margin-bottom: 4vh;
    padding-bottom: 5vh;
    padding-top: 5.5vh;
    font-family: var(--font-sans);
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-3);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    background-color: #dedede;
    color: #ff6b6b;
  }

  .inner-article {
    box-shadow: var(--shadow-1);
    margin-bottom: 2rem;
    margin-top: 1rem;
    padding-top: 2rem;
    height: 18rem;
    border: 2px solid #0e1e3a;
  }

  header {
    box-shadow: var(--shadow-2);
  }

  /* header:hover {
    box-shadow: var(--inner-shadow-1);
  } */

  @media only screen and (max-width: 600px) {
    .inner-article {
      box-shadow: var(--shadow-2);
      margin-bottom: 2rem;
      margin-top: 1rem;
      padding-top: 2rem;
      height: 22rem;
    }
  }
</style>
