---
export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="stylesheet" href="/src/styles/styles.css" /> -->
    <title>jdlms</title>
  </head>
  <body>
    <slot />
  </body>

  <style>
    @import "open-props/style";
    @import "/src/styles/styles.css";
    body {
      margin: 0;

      /* background-image: var(--gradient-16); */
    }

    html,
    body {
      min-height: 100%;
    }
  </style>
</html>
