---
import { ViewTransitions } from "astro:transitions";
export interface Props {
  title: string;
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width initial-scale=1"
    />

    <title>jdlms.dev</title>
    <ViewTransitions />
  </head>
  <body class="full-page-style">
    <slot />
    <style>
      @import "/src/styles/styles.css";
      @import "open-props/style";
      @import "open-props/fonts";
    </style>
  </body>
</html>
