---
export interface Props {
  title: string;
}

import "@picocss/pico/css/pico.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>jdlms</title>
  </head>
  <body>
    <slot />
  </body>

  <style>
    @import "/src/styles/styles.css";
    @import "open-props/style";
    @import "open-props/fonts";
    body {
      margin: 0;
    }

    html,
    body {
      min-height: 100%;
    }





    header {
      box-shadow: var(--shadow-);
    }
  </style>
</html>
