---
export interface Props {
  title: string;
}

import "@picocss/pico/css/pico.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🪁</text></svg>"
    />
    <title>• jdlms.dev</title>
  </head>
  <body>
    <slot />
  </body>

  <style>
    @import "/src/styles/styles.css";
    @import "open-props/style";
    @import "open-props/fonts";
    body {
      margin: 0;
    }

    html,
    body {
      min-height: 100%;
    }

    header {
      box-shadow: var(--shadow-);
    }
  </style>
</html>
