---
// src/layouts/MarkdownLayout.astro

const { children } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
  </head>
  <body>
    <main>
      {children}
    </main>
  </body>
</html>
